body {
  background: #e0e3e7;
}

.bankContainer {
  width: 568px;
  height: 100%;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;

  p {
    line-height: 0;
  }
  .green {
    color: #49b36e;
  }
  .grey {
    color: #6b8094;
  }
  .lightGray {
    color: #8f9aa5;
  }
  .red {
    color: #d4392c;
  }

  .blue {
    color: #2b78ed;
  }

  /* 클릭 시 생길 것 */
  .is-active {
    display: flex;
  }

  .is-click {
    color: #055fea;
    svg path {
      fill: #055fea;
    }

    &::after {
      content: "";
      position: absolute;

      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;

      background-color: #055fea;
      border-radius: 3px 3px 0 0;
    }
  }
}

.tabList {
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    position: relative;
    padding-block: 12px;
    svg {
      width: 25px;
      height: 25px;
    }
    color: #939393;
    font-size: 14px;
    font-weight: 400;
    width: 140px;
    height: 73px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #939393;

    &:hover {
      background-color: #f6f8fe;
    }

    &:focus {
      outline: none;
    }
    &:focus::before {
      content: "";
      position: absolute;

      inset: 4px;

      border: 2px dotted #055fea;
      border-radius: 12px;
    }
  }
}

.first {
  height: calc(400px - 34px - 48px);
  display: none;
  flex-flow: nowrap column;
  row-gap: 8px;
  padding-inline: 25px 33px;
  justify-content: center;
  padding-block: 34px 48px;

  /* height: 400px; */
  /* h3,
    article {
      margin-left: 25px;
    } */

  .blue {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 0;
  }

  .green {
    font-size: 20px;
  }

  .grey {
    font-size: 13px;
  }
  p {
    font-size: 15px;
    font-weight: 500px;
  }

  article {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    width: 510px - 20px;
    height: 132px;
    padding-left: 20px;
    border: 1px solid black;
    font-size: 13px;
    border-radius: 15px;
    border: 1px solid #dedede;
  }
}

.second {
  display: none;
  flex-flow: nowrap column;
  row-gap: 12px;
  width: calc(568px - 54px);
  height: calc(400px - 88px);
  padding-inline: 25px 29px;
  padding-block: 34px 54px;

  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 0;
  }

  .lightGray {
    font-size: 12px;
    font-weight: 400;
  }

  .red {
    font-size: 13px;
    font-weight: 500;
  }

  .green {
    font-size: 13px;
    font-weight: 500;
  }

  article {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    grid-auto-flow: column;
    align-content: center;
    padding-inline: 20px;
    gap: 4px 0;

    border: 1px solid #dedede;
    width: calc(510px - 40px);
    height: 83px;
    border-radius: 13px;

    p {
      margin: 0;
      line-height: 1;
      font-size: 16px;
      font-weight: 700;
    }
  }
  article p:nth-child(3),
  article p:nth-child(4) {
    text-align: right;
  }
}

.third {
  display: none;
  flex-flow: nowrap column;
  padding-inline: 29px;
  padding-block: 34px 26px;
  row-gap: 12px;
  height: calc(541px - 60px);
  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 0;
  }

  article {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    align-content: center;
    border: 1px solid #dedede;
    width: calc(510px - 40px);
    height: 79px;
    gap: 9px;
    padding-inline: 20px;
    border-radius: 13px;

    .lightGray {
      font-size: 12px;
      font-weight: 400;
    }

    .grey {
      font-size: 15px;
      font-weight: 700;
    }

    p {
      line-height: 1;
      margin: 0;
    }

    .red {
      font-size: 16px;
      font-weight: 700;
    }

    .blue {
      font-size: 16px;
      font-weight: 700;
    }
  }

  article p:nth-child(3) {
    text-align: right;
    grid-row: span 2;
    align-self: center;
  }
}

.fourth {
  display: none;
  flex-flow: column;
  padding-block: 34px 53px;
  row-gap: 16px;
  padding-inline: 29px;
  justify-content: center;
  height: calc(541px - 87px);
  p {
    color: #ffffff;
    line-height: 0;
  }

  h3 {
    line-height: 0;
    font-weight: 700;
  }

  & p:nth-child(1) {
    font-size: 14px;
    font-weight: 700;
    grid-column: span 2;
  }

  & p:nth-child(2) {
    font-size: 20px;
    margin-block: 29px;
    font-weight: 400;
    grid-column: span 2;
    letter-spacing: 2px;
  }

  & p:nth-child(3) {
    color: #e3e5e8;
    font-size: 12px;
    margin-bottom: 9px;
    grid-column: span 2;
    letter-spacing: 2px;
  }

  & p:nth-child(4) {
    font-size: 20px;
    font-weight: 700;
  }
  & p:nth-child(5) {
    font-size: 16px;
    font-weight: 700;
  }

  article {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto;
    grid-auto-flow: column;
    width: calc(510px - 23px - 26px);
    height: calc(200px - 26px - 28px);
    padding: 28px 26px 26px 23px;
    border-radius: 13px;
  }

  article:nth-of-type(1) {
    background: #727f8e;
  }
  article:nth-of-type(2) {
    background: #055fea;
  }
}
