/* 공통 */
body {
  background-color: pink;

  .type {
    color: #0000007a;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  h3 {
    margin: 0;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #00000014;

    &:hover {
      background: #f5f5f5;
    }

    &:focus {
      border-color: #2049df;
      outline: none;
    }
  }
}

section {
  width: 384px;
  height: 372px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fff;

  .sectionHeader {
    display: flex;

    width: 372px;
    height: 64px;
    padding-left: 10px;
    align-items: center;
    column-gap: 6px;

    .headerWrap {
      display: flex;
      width: 112px;
      height: 36px;
      padding-inline: 12px;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 700;
      column-gap: 6px;
      border: 1px solid transparent;

      &:hover {
        background-color: #f5f5f5;
        border-radius: 40px;
      }

      &:focus,
      &:active {
        border: 1px solid #2049df;
        outline: none;
        background: #fff;
        border-radius: 40px;
      }

      svg {
        display: block;
      }
    }
  }
  .firstPage {
    width: calc(384px - 48px);
    height: 246px;
    display: flex;
    flex-flow: wrap column;

    align-items: center;
    gap: 8px;
    padding-inline: 24px;
    padding-top: 3px;

    article {
      width: 160px;
      height: 240px;

      a {
        display: block;
        width: 160px;
        height: 160px;
        background-image: url(./img/배경.png);
        background-repeat: no-repeat;
        background-position: bottom;
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 8px;
      }
      /* 질문 위쪽이 동그래지지않는 이유 */
      p {
        margin-bottom: 8px;
      }
    }

    .gameBoxArcyage {
      a {
        background-image: url(./img/배경\ \(1\).png);
      }
    }
  }

  footer {
    display: flex;
    row-gap: 12px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    width: 384px;
    height: 62px;

    /* button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      border-color: #00000014;

      & :hover {

      }
    } */

    p {
      font-size: 18px;
    }
  }
}
